/* :root{
	--mainColor:#252425;;
	--secondaryColor:#161616;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#201e1e;

	--previewBg:rgba(4, 2, 5, 0.8);
	--previewShadow:#252425;


	--buttonColor:#161616;


} */
